#footer {
    text-align: center;
}

.box-footer {
    width: 100%;
    background-color: white;
    padding: 80px 0 70px 0;
}

#footer h2 {
    font-size: 40px;
    color: #6a75ca;
    margin-bottom: 50px;
}

.link-sns li {
    display: inline-block;
    padding: 35px;
    font-size: 12px;
}

.link-sns li a img {
    margin-bottom: 10px;
}

.img-github, .img-instagram {
    width: 65px;
}

.box-footer p {
    color: #6a75ca;
    margin-top: 50px;
}