.section-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 80px 0 140px 0;
    margin: 0 0 140px 0;
}

.section-about h2 {
    margin: 0 auto 100px;
    display: inline-block;
    color: #6a75ca;
    font-size: 40px;
}

.cont-about {
    display: flex;
    margin: 0 auto;
}

.slide-container {
    width: 450;
    margin: 0 auto;
}

.slide-album {
    position: relative;
    width: 450px;
    height: 440px;
    overflow: hidden;
    border-radius: 20px;
}

.slide-images {
    position: relative;
    display: flex;
    height: 450px;
  }

.slide-images img {
    width: 450px;
    height: 440px;
}

.btn-next,
.btn-next:active,
.btn-next:focus {
    position: absolute;
    padding: 8px 8px 7px 14px;
    background-color: #6a75ca;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 100%;
}

.btn-prev,
.btn-prev:active,
.btn-prev:focus {
    position: absolute;
    padding: 8px 14px 7px 8px;
    background-color: #6a75ca;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 100%;
}

.btn-next:disabled,
.btn-prev:disabled {
    background-color: lightgray;
}

.btn-next:hover,
.btn-prev:hover {
    cursor: pointer;
    background-color: white;
    color: #6a75ca;
    transition: 0.7s ease-out;
}

.btn-prev {
    left: 18px;
    top: 50%;
}

.btn-next {
    right: 18px;
    top: 50%;
}

.btn-about {
    margin: 45px 0 0 20px;
}
.btn-about button {
    width: 140px;
    height: 140px;
    margin: 0 45px 0 0;
    border-radius: 100%;
    background-color: #6a75ca;
    border: none;
    color: white;
    font-size: 18px;

}
.btn-about button:hover {
    cursor: pointer;
    background-color: #c4c8f1;
    color: #868ecf;
    transition: 0.5s ease-out;
}

.btn-about button img {
    width: 43px;
    margin: 10px auto;
}

.info-about {
    margin: 0 0 0 60px;
}

.txt-about {
    margin-top: 55px;
}

.txt-about dt {
    display: inline-block;
    margin-bottom: 17px;
    width: 110px;
    font-size: 22px;
    color: #6a75ca;
}

.txt-about dd {
    display: inline-block;
    font-size: 22px;
}